// Variables

$color-primary: #bf4080;
$color-secondary: #e3e3e3;
$color-btn: #1aac1a;
$color-btn-hover: #1aac1aca;



$color-btn-danger: #c77a16;
$color-btn-danger-hover: #c77a16b9;

// Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;