* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orange;
  background-image: url(../img/background-pizza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.App-cart {
  background-color: #F1F1F1;
  margin: 10px 20px 10px 0;
  width: 34vw;
}

.App-container {
  display: flex;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1c8;
  margin: 3vh 15px 0 15px;

  .App-logo {
  height: 10vh;
}

  .App-name {
    font-size: 4rem;
  }
}


.pizzas-list {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  margin-left: 10px;
  
  
}

.pizza-wrapper{
  margin: 10px;
  // background-color: #F1F1F1;
  width: 30vw;

  .pizza-img {
    background-color: #F1F1F1;
  }

  h2 {
    text-transform: uppercase;
  }

  img{
    width: 100%;
  }
}
.pizza-infos {
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #F1F1F1;
}
