* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/background-pizza.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
}

// HEADER

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1c8;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 3vh;

  .App-name {
    font-size: 4rem;
  }

  .title-wrapper {
    display: flex;
    align-items: center;

    i {
      font-size: 4rem;
      padding-right: 10px;
    }
  }

  #left-arrow {
    font-size: 4rem;
    position: absolute;
    left: 5vw;
    cursor: pointer;

    &:hover {
      opacity: 70%;
    }
  }

}











