.pizza_item {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;

    .pizza_item_name {
        font-weight: 700;
    }
}

.ordered_pizza_wrapper {
    ul {
        padding: 0 10px 0 0;
    }
}